footer {
    position: absolute;
    display: flex;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #0072aa;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    box-shadow: 5px -1px 8px 1px dimgray;
    z-index: 1;

    a {
        color: whitesmoke;

        &:hover,
        &:focus,
        &:visited {
            color: whitesmoke;
        }
        &:after {
            content: ')';
        }
        &:before {
            content: '(';
        }
    }
}
