header {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: #0072AA;
    color: whitesmoke;
    width: 100%;
    height: 80px;
    align-items: center;
    box-shadow: 5px 1px 8px 1px dimgray;
    z-index: 1;

    h1 {
        font-size: 1.5em;
        margin-left: 0;
    }

    a {
        margin-right: 5px;

        &:first-of-type {
            margin-left: auto;
        }
    }

    #sidebar-opener {
        margin: 0 10px;
    }

}
