nav {
    position: fixed;
    top: 80px;
    height: 100%;
    width: 250px;
    z-index: 1;
    float: left;
    transition: all .5s ease-out;
    box-shadow: 2px 5px 5px 2px gray;
    background-color: whitesmoke;

    a {
        display: flex;
        background-color: #e0e0e0;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-weight: 600;
        color: #0030BB;
        border-bottom: 1px solid gray;
        height: 50px;

        &:hover {
            background-color: #c0c0c0;
        }

        &:active {
            background-color: #c0c0c0;
        }

        &:last-of-type {
            border-bottom: none;
        }
    }

    a.current-page {
        background-color: #a0a0a0;
    }

    .links-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

#sidebar-additional {
    position: fixed;
    visibility: visible;
    opacity: 0;
    background-color: whitesmoke;
    top: 80px;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: opacity .5s ease-out, left .5s ease-out;
}
