@import './components/main_page/content';
@import './components/header';
@import './components/sidebar';
@import './components/footer';
@import './components/projects/projects-list-item';
@import './components/projects/projects-list';
@import './components/error';

body {
    margin: 0;
    padding: 0;
    font-family: Roboto, Helvetica, 'Helvetica Neue', Arial, 'Noto Sans',
        sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

html, body {
    min-height: 100vh;
}

#root {
    position: relative;
    min-height: 100vh;
}
