.projects-list-item {
    flex-direction: column;
    width: 25%;
    max-width: 300px;
    line-height: 1.2em;
    min-height: 20.5em;
    box-shadow: 0 0 8px 2px gray;
    padding: 10px;
    overflow: hidden;
    margin-right: 15px;
    margin-bottom: 15px;
    transition: all .2s linear;

    &:hover {
        transform: scale(1.025);
        cursor: pointer;
    }

    .project-list-description {
        text-align: start;
    }
}

@media (max-device-width: 768px) {
    .projects-list-item {
        width: 40%;
    }
}

@media (max-device-width: 425px) {
    .projects-list-item {
        width: 90%;
    }
}


