.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-height: 100%;
  line-height: 1.3em;
  padding: 15px 15px 70px;
  margin: 80px auto 0;
  transition: all 0.5s ease-out; }
  .app-container.main-page h1 {
    margin: 0 auto; }
  .app-container.main-page .info {
    flex-direction: row;
    width: 100%; }
    .app-container.main-page .info img {
      width: 300px;
      box-shadow: 0 0 5px 2px gray;
      float: left; }
    .app-container.main-page .info ul {
      display: flex;
      flex-direction: column;
      list-style-type: square;
      margin-top: 0; }
      .app-container.main-page .info ul li {
        margin: 5px;
        line-height: 1.3em; }
        .app-container.main-page .info ul li ul {
          list-style-type: circle; }
  .app-container .project__links {
    display: flex;
    flex-direction: row;
    margin: 0 auto; }
  .app-container .project-link {
    display: block;
    box-sizing: border-box;
    background-color: #0072AA;
    color: whitesmoke;
    float: left;
    width: 250px;
    height: 40px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    margin: 10px; }
    .app-container .project-link:visited {
      text-decoration: none;
      color: whitesmoke; }
  .app-container .pushback-button {
    position: fixed;
    text-align: center;
    opacity: 0.15;
    background-color: #0072AA;
    color: whitesmoke;
    left: 0;
    top: 80px;
    bottom: 50px;
    height: 100%;
    width: 7.5%;
    padding: 10px;
    transition: opacity .5s ease-out; }
    .app-container .pushback-button:hover {
      opacity: 0.4;
      cursor: pointer; }
  .app-container a {
    color: #0030BB; }
    .app-container a:visited {
      color: #0030BB; }

@media (max-width: 768px) {
  .app-container ul {
    padding-left: 0;
    list-style-position: inside; }
  .app-container ol {
    margin: 5px auto;
    padding: 0;
    list-style-position: inside; }
    .app-container ol li {
      margin: 5px auto;
      line-height: 1.4em; }
  .app-container .project__links {
    display: flex;
    flex-direction: column; }
  .app-container .pushback-button {
    width: 5%; } }

@media (max-width: 425px) {
  .app-container {
    flex-direction: column;
    flex-wrap: wrap; }
    .app-container.main-page {
      flex-direction: column; }
      .app-container.main-page h1 {
        line-height: 1.3em; }
      .app-container.main-page .info {
        flex-direction: column;
        width: 100%; }
        .app-container.main-page .info img {
          width: 100%;
          float: none; }
        .app-container.main-page .info ul {
          margin: 0;
          padding: 0;
          box-sizing: content-box;
          list-style-position: inside; }
          .app-container.main-page .info ul li {
            margin: 5px auto;
            line-height: 1.4em; }
            .app-container.main-page .info ul li ul {
              margin: 0; }
              .app-container.main-page .info ul li ul li {
                margin: 5px 15px; }
    .app-container .project__links {
      display: flex;
      flex-direction: column; }
    .app-container ul {
      padding-left: 0;
      list-style-position: inside; }
    .app-container ol {
      margin: 5px auto;
      padding: 0;
      list-style-position: inside; }
      .app-container ol li {
        margin: 5px auto;
        line-height: 1.4em; }
    .app-container .pushback-button {
      display: none; } }

header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  background-color: #0072AA;
  color: whitesmoke;
  width: 100%;
  height: 80px;
  align-items: center;
  box-shadow: 5px 1px 8px 1px dimgray;
  z-index: 1; }
  header h1 {
    font-size: 1.5em;
    margin-left: 0; }
  header a {
    margin-right: 5px; }
    header a:first-of-type {
      margin-left: auto; }
  header #sidebar-opener {
    margin: 0 10px; }

nav {
  position: fixed;
  top: 80px;
  height: 100%;
  width: 250px;
  z-index: 1;
  float: left;
  transition: all .5s ease-out;
  box-shadow: 2px 5px 5px 2px gray;
  background-color: whitesmoke; }
  nav a {
    display: flex;
    background-color: #e0e0e0;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 600;
    color: #0030BB;
    border-bottom: 1px solid gray;
    height: 50px; }
    nav a:hover {
      background-color: #c0c0c0; }
    nav a:active {
      background-color: #c0c0c0; }
    nav a:last-of-type {
      border-bottom: none; }
  nav a.current-page {
    background-color: #a0a0a0; }
  nav .links-container {
    display: flex;
    flex-direction: column;
    width: 100%; }

#sidebar-additional {
  position: fixed;
  visibility: visible;
  opacity: 0;
  background-color: whitesmoke;
  top: 80px;
  z-index: 1;
  height: 100%;
  width: 100%;
  transition: opacity .5s ease-out, left .5s ease-out; }

footer {
  position: absolute;
  display: flex;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #0072aa;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  box-shadow: 5px -1px 8px 1px dimgray;
  z-index: 1; }
  footer a {
    color: whitesmoke; }
    footer a:hover, footer a:focus, footer a:visited {
      color: whitesmoke; }
    footer a:after {
      content: ')'; }
    footer a:before {
      content: '('; }

.projects-list-item {
  flex-direction: column;
  width: 25%;
  max-width: 300px;
  line-height: 1.2em;
  min-height: 20.5em;
  box-shadow: 0 0 8px 2px gray;
  padding: 10px;
  overflow: hidden;
  margin-right: 15px;
  margin-bottom: 15px;
  transition: all .2s linear; }
  .projects-list-item:hover {
    transform: scale(1.025);
    cursor: pointer; }
  .projects-list-item .project-list-description {
    text-align: start; }

@media (max-device-width: 768px) {
  .projects-list-item {
    width: 40%; } }

@media (max-device-width: 425px) {
  .projects-list-item {
    width: 90%; } }

.projects-list {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .projects-list h3 {
    width: 100%;
    text-align: center; }

.error h1 {
  font-size: xx-large; }

.error h2 {
  font-size: x-large; }

.error h3 {
  font-size: large; }

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Helvetica, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; }

html, body {
  min-height: 100vh; }

#root {
  position: relative;
  min-height: 100vh; }
