.app-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 100%;
    line-height: 1.3em;
    padding: 15px 15px 70px;
    margin: 80px auto 0;

    transition: all 0.5s ease-out;

    &.main-page {
        h1 {
            margin: 0 auto;
        }

        .info {
            flex-direction: row;
            width: 100%;

            img {
                width: 300px;
                box-shadow: 0 0 5px 2px gray;
                float: left;
            }

            ul {
                display: flex;
                flex-direction: column;
                list-style-type: square;
                margin-top: 0;
                li {
                    margin: 5px;
                    line-height: 1.3em;
                    ul {
                        list-style-type: circle;
                    }
                }
            }
        }
    }

    & .project__links {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    & .project-link {
        display: block;
        box-sizing: border-box;
        background-color: #0072AA;
        color: whitesmoke;
        float: left;
        width: 250px;
        height: 40px;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        border-radius: 4px;
        margin: 10px;

        &:visited {
            text-decoration: none;
            color: whitesmoke;
        }
    }

    .pushback-button {
        position: fixed;
        text-align: center;
        opacity: 0.15;
        background-color: #0072AA;
        color: whitesmoke;
        left: 0;
        top: 80px;
        bottom: 50px;
        height: 100%;
        width: 7.5%;
        padding: 10px;
        transition: opacity .5s ease-out;

        &:hover {
            opacity: 0.4;
            cursor: pointer;
        }
    }

    a {
        color: #0030BB;

        &:visited {
            color: #0030BB;
        }
    }
}

@media (max-width: 768px) {
    .app-container {
        ul {
            padding-left: 0;
            list-style-position: inside;
        }

        ol {
            margin: 5px auto;
            padding: 0;
            list-style-position: inside;
            li {
                margin: 5px auto;
                line-height: 1.4em;
            }
        }

        & .project__links {
            display: flex;
            flex-direction: column;
        }

        .pushback-button {
            width: 5%;
        }
    }
}

@media (max-width: 425px) {
    .app-container {
        flex-direction: column;
        flex-wrap: wrap;

        &.main-page {
            flex-direction: column;
            h1 {
                line-height: 1.3em;
            }

            & .info {
                flex-direction: column;
                width: 100%;
                img {
                    width: 100%;
                    float: none;
                }

                ul {
                    margin: 0;
                    padding: 0;
                    box-sizing: content-box;
                    list-style-position: inside;

                    li {
                        margin: 5px auto;
                        line-height: 1.4em;

                        ul {
                            margin: 0;

                            li {
                                margin: 5px 15px;
                            }
                        }
                    }
                }
            }
        }

        & .project__links {
            display: flex;
            flex-direction: column;
        }

        ul {
            padding-left: 0;
            list-style-position: inside;
        }

        ol {
            margin: 5px auto;
            padding: 0;
            list-style-position: inside;
            li {
                margin: 5px auto;
                line-height: 1.4em;
            }
        }

        .pushback-button {
            display: none;
        }
    }
}


